<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <a href="#" class="nav-brand">Recipe Book</a>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a href="#" class="nav-link active">Recipes</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">Shopping List</a>
        </li>
        <li class="nav-item"><a href="#" class="nav-link active">Manage</a></li>
        <li class="nav-item"><a href="#" class="nav-link active">Save Data</a></li>
        <li class="nav-item"><a href="#" class="nav-link active">Fetch Data</a></li>
            
      </ul>
    </div>
  </div>
</nav>
